{% extends "layout.html" %} {% block body %}
<header
  class="masthead"
  style="background-image: url('{{ url_for('static', filename='assets/img/pet-2.jpg') }}')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          A pet, or companion animal, is an animal kept primarily for a person's
          company or entertainment rather than as a working animal, livestock,
          or a laboratory animal. Popular pets are often considered to have
          attractive appearances, intelligence, and relatable personalities, but
          some pets may be taken in on an altruistic basis (such as a stray
          animal) and accepted by the owner regardless of these characteristics.
        </p>
        <p>
          Two of the most popular pets are dogs and cats. Other animals commonly
          kept include rabbits; ferrets; pigs; rodents such as gerbils,
          hamsters, chinchillas, rats, mice, and guinea pigs; birds such as
          parrots, passerines, and fowls; reptiles such as turtles, lizards,
          snakes, and iguanas; aquatic pets such as fish, freshwater snails, and
          saltwater snails; amphibians such as frogs and salamanders; and
          arthropod pets such as tarantulas and hermit crabs. Small pets may be
          grouped together as pocket pets, while the equine and bovine group
          include the largest companion animals
        </p>
        <!-- <p>
          Pets provide their owners (or "guardians")[1] both physical and
          emotional benefits. Walking a dog can provide both the human and the
          dog with exercise, fresh air, and social interaction. Pets can give
          companionship to people who are living alone or elderly adults who do
          not have adequate social interaction with other people. There is a
          medically approved class of therapy animals, mostly dogs or cats, that
          are brought to visit confined humans, such as children in hospitals or
          elders in nursing homes. Pet therapy utilizes trained animals and
          handlers to achieve specific physical, social, cognitive, or emotional
          goals with patients.
        </p>
        <p>
          People most commonly get pets for companionship, to protect a home or
          property or because of the perceived beauty or attractiveness of the
          animals.[2] A 1994 Canadian study found that the most common reasons
          for not owning a pet were lack of ability to care for the pet when
          traveling (34.6%), lack of time (28.6%), and lack of suitable housing
          (28.3%), with dislike of pets being less common (19.6%).[2] Some
          scholars, ethicists, and animal rights organizations have raised
          concerns over keeping pets because of the lack of autonomy and the
          objectification of non-human animals.[3]
        </p> -->
      </div>
    </div>
  </div>
</main>
{% endblock %}
